@import 'tailwindcss';
@plugin "daisyui";

:root {
  --color-layout: #232222;
  --color-bg-primary: #f5f1f1;
}

@theme {
  --font-poppins: 'Poppins', sans-serif;
  --color-primary: #0d6efd;
  --color-secondary: #0d6efd;
  --color-base: #000;
  --color-layout: var(--color-layout);
  /* --color-bg-primary: var(--color-bg-primary); */
  --radius-appRadius: 10px;

  /* Shadows */
  --shadow-3xl: -15px 15px 24px rgba(22, 51, 102, 0.25);
  --shadow-4xl: 15px 15px 24px rgba(22, 51, 102, 0.25);
  --shadow-linkpreview: 0px 1px 4px #0c0c0d0d;
}

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.activeMenu {
  background: linear-gradient(
    66.86deg,
    #efe687 5.8%,
    #c09742 34.83%,
    #ac7729 59.61%,
    #cfb159 71.4%,
    #e2ce72 83.31%,
    #ad7a22 94.28%
  );
  color: black;
}

.bg-custom-primary {
  background-color: var(--color-bg-primary);
}
