@import 'tailwindcss';
@plugin "daisyui";

:root {
  --color-layout: #232222;
  --color-bg-primary: #f5f1f1;
  --color-bright-gold: #cfb159;
  --color-dark-gold: #8b6914;
  /* --color-bright-gold: #cf5959;
  --color-dark-gold: #32148b; */

  --color-icon-light-blue: #5ea6f41a;
  --color-icon-light-pink: #f45e5e1a;
}

@theme {
  --font-poppins: 'Poppins', sans-serif;
  --color-primary: #0d6efd;
  --color-secondary: #0d6efd;
  --color-base: #000;
  --color-layout: var(--color-layout);
  /* --color-bg-primary: var(--color-bg-primary); */
  --color-bright-gold: var(--color-bright-gold);
  --color-dark-gold: var(--color-dark-gold);
  --color-icon-light-blue: var(--color-icon-light-blue);
  --color-icon-light-pink: var(--color-icon-light-pink);
  --radius-appRadius: 10px;

  /* Shadows */
  --shadow-3xl: -15px 15px 24px rgba(22, 51, 102, 0.25);
  --shadow-4xl: 15px 15px 24px rgba(22, 51, 102, 0.25);
  --shadow-linkpreview: 0px 1px 4px #0c0c0d0d;
  --shadow-none: 0 0 #0000;
}

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.activeMenu {
  background: linear-gradient(
    66.86deg,
    #efe687 5.8%,
    #c09742 34.83%,
    #ac7729 59.61%,
    #cfb159 71.4%,
    #e2ce72 83.31%,
    #ad7a22 94.28%
  );
  color: black;
}

.bg-custom-primary {
  background-color: var(--color-bg-primary);
}

.bg {
  background: linear-gradient(
    16.86deg,
    #efe687 5.8%,
    #c09742 34.83%,
    #ac7729 59.61%,
    #ad7a22 84.28%,
    #ad7a22 84.28%,
    #ad7a22 84.28%,
    #ad7a22 94.28%
  );
  color: white;
}

.background {
  color: #fff;
  text-align: center;
  border: none;
  cursor: pointer;

  /* Figma gradient */
  background: linear-gradient(
    16.86deg,
    #c09742 5.8%,
    #ac7729 8.79%,
    #ac7729 9.67%,
    #cfb159 20.74%,
    #ad7a22 29.58%,
    #ad7a22 74.27%,
    #c09742 94.28%
  );

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.btn {
  box-shadow: none !important;
}

.shadow-none {
  box-shadow: none !important;
}

.btn-gold {
  background-color: var(--color-dark-gold);
  color: white;
  box-shadow: none;
}

.btn-gold:hover {
  background-color: var(--color-bright-gold);
}
